<ion-card>
  <ion-card-header>
    <ion-card-title> Users </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item button *ngFor="let user of users" lines="full">
        <ion-label routerLink="/profile/{{user.uuid}}">
          <h2>{{user.name}}</h2>
          <p>{{user.email}}</p>
          <p>{{user.phone | date}}</p>
          <p>{{user.role}}</p>
          <p>{{user.dateOfJoining | date}}</p>
          <p>{{user.drivesAttended}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
