.login-button {
  --color: var(--ion-color-light);
  --background: var(--ion-color-light-contrast);
}

.register-button {
  --color: var(--ion-color-light-contrast);
  --border-color: var(--ion-color-light-contrast);
}

ion-content {
  --offset-top: 0 !important;
}
