<ion-content>
  <button
    mat-flat-button
    color="primary"
    class="full-width"
    [routerLink]='["/login"]'
  >
    Login
  </button>
  <div class="orDiv"></div>
  <button mat-stroked-button class="full-width" [routerLink]='["/register"]'>
    Register
  </button>
</ion-content>
