<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Edit Profile </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="no-padding">
    <ion-row class="align">
      <ion-col *ngIf="user?.profileImage">
        <ion-avatar class="avatar" (click)="selectImage()">
          <img src="{{ user.profileImage }}" />
        </ion-avatar>
      </ion-col>
      <ion-col *ngIf="!user?.profileImage">
        <ion-avatar class="avatar" (click)="selectImage()">
          <img src="../assets/alternative.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-card-content> -->
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <mat-icon matPrefix class="inline-icon">person</mat-icon>
      <input
        matInput
        placeholder="Name"
        autocomplete="off"
        formControlName="name"
      />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix class="inline-icon">email</mat-icon>
      <input
        matInput
        placeholder="Email"
        autocomplete="off"
        formControlName="email"
      />
    </mat-form-field>

    <!-- <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Password"
            autocomplete="off"
            formControlName="password"
          />
        </mat-form-field> -->

    <mat-form-field class="full-width">
      <mat-label>Phone</mat-label>
      <mat-icon matPrefix class="inline-icon">phone</mat-icon>
      <input
        matInput
        placeholder="Phone"
        autocomplete="off"
        formControlName="phone"
      />
    </mat-form-field>

    <!-- <mat-form-field class="full-width">
          <mat-label>Role</mat-label>
          <input
            readonly
            matInput
            placeholder="Role"
            autocomplete="off"
            formControlName="role"
          />
        </mat-form-field> -->

    <!-- <mat-form-field class="full-width">
          <mat-label>Date Of Joining</mat-label>
          <input
            readonly
            matInput
            placeholder="Date Of Joining"
            autocomplete="off"
            formControlName="dateOfJoining"
          />
        </mat-form-field> -->

    <!-- <mat-form-field class="full-width">
          <mat-label>Drives Attended</mat-label>
          <input
            readonly
            matInput
            placeholder="Drives Attended"
            autocomplete="off"
            formControlName="drivesAttended"
          />
        </mat-form-field> -->
  </form>
  <button mat-flat-button color="primary" class="full-width" (click)="update()">
    Update
  </button>
  <!-- <ion-button expand="block" (click)="update()">Update</ion-button> -->
</ion-content>
