<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="/profile/{{id}}" *ngIf="id">
      My Profile
    </ion-item>
    <ion-item button routerLink="/create-event" *ngIf="id">
      Create Event
    </ion-item>
    <ion-item button routerLink="/view-events" *ngIf="id">
      List Events
    </ion-item>
    <ion-item button routerLink="/list-users" *ngIf="id"> List Users </ion-item>
    <ion-item button routerLink="/leaderboard" *ngIf="id"> Leaderboard </ion-item>
    <ion-item button routerLink="/settings" *ngIf="id"> Settings </ion-item>
    <ion-item button routerLink="/login" *ngIf="!id"> Login </ion-item>
    <ion-item button routerLink="/register" *ngIf="!id"> Register </ion-item>
    <ion-item button (click)="logout()" *ngIf="id"> Logout </ion-item>
  </ion-list>
</ion-content>
