.name {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.ion-text-center {
  margin: 1.5em 0;
}

.avatar {
  margin: auto;
  width: 35%;
  height: 35%;
}

.align {
  align-items: center;
  vertical-align: middle;
}

p,
h2 {
  margin: 0;
}
