<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/splash-screen"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-title>
  <h1 class="auth-title">
    Welcome <br />
    Back
  </h1>
</ion-title>
<div class="auth-content">
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix class="inline-icon">email</mat-icon>
      <input
        matInput
        type="email"
        placeholder="Email"
        autocomplete="off"
        formControlName="email"
      />
      <mat-error
        *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')"
      >
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="form.controls.email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix class="inline-icon">lock</mat-icon>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Password"
        autocomplete="off"
        formControlName="password"
      />
      <mat-icon matSuffix (click)="hide = !hide" class="inline-icon">
        {{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="form.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <button
    class="full-width"
    mat-flat-button
    (click)="login()"
    [disabled]="form.invalid"
    color="primary"
  >
    Log in
  </button>

  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="5px"
    class="orDiv"
  >
    <mat-divider fxFlex="1 0"></mat-divider>
    <div>or</div>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <button class="full-width" mat-stroked-button [routerLink]="['/register']">
    Sign up
  </button>
</div>
