<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> Theme </ion-label>
      <ion-icon slot="end" name="sunny-outline"></ion-icon>
      <ion-toggle
        slot="end"
        [(ngModel)]="modeSwitch"
        (ionChange)="onToggleColorTheme($event)"
      >
      </ion-toggle>
      <ion-icon slot="end" name="moon-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input required matInput placeholder="Email" autocomplete="off" />
      </mat-form-field>
    </ion-item>
  </ion-list>
</ion-content>
