<ion-header class="transparent-header">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Events </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    (ionChange)="segmentChanged($event)"
    [(ngModel)]="segment"
    swipeGesture="true"
    mode="ios"
  >
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="expired">
      <ion-label>Expired</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="custom-inner-scroll">
    <div [ngSwitch]="segment">
      <div *ngSwitchCase="'active'">
        <ion-list>
          <ion-item
            button
            *ngFor="let occasion of activeOccasions"
            lines="full"
            [routerLink]="['/edit-event',occasion.uuid]"
          >
            <ion-grid>
              <ion-row>
                <ion-label>
                  <h2>{{occasion.title}}</h2>
                  <p>{{occasion.description}}</p>
                  <p>{{occasion.date | date}}</p>
                  <p>{{occasion.startTime}} - {{occasion.endTime}}</p>
                </ion-label>
              </ion-row>
              <ion-row>
                <ion-button>Volunteer</ion-button>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>

      <div *ngSwitchCase="'expired'">
        <ion-list>
          <ion-item
            button
            *ngFor="let occasion of expiredOccasions"
            lines="full"
          >
            <ion-label>
              <h2>{{occasion.title}}</h2>
              <p>{{occasion.description}}</p>
              <p>{{occasion.date | date}}</p>
              <p>{{occasion.startTime}}</p>
              <p>{{occasion.endTime}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
