<ion-card>
  <ion-card-header>
    <ion-card-title> Leaderboard</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let user of users, let i=index" lines="full">
        <ion-note slot="start"> {{i+1}} </ion-note>
        <ion-label>{{user.name}}</ion-label>
        <span slot="end">{{user.drivesAttended}}</span>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
